.container_notice {
    height: 350px;
    width: 400px;
    border: 1px solid black;
    border-radius: 0.4rem;
    margin-right: 1rem;
    background-color: white;
    display: flex;
    flex-direction:column ;
}

.container_image {
    height: 11rem;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.container_image img {
    transition: transform 0.2s ease-in-out; 
    filter: brightness(110%);
}

.container_image:hover img {
    transform: scale(1.1);
    cursor: pointer;
}

.container_description {
    height: 11rem;
    width: 100%;
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
    flex-direction:column ;
}

.container_description h3 {
    margin-bottom: 0.3rem;
    font-size: 22px;
}

@media screen and (max-width: 680px) {
    .container_section {
        width: 100vw;
        display: flex;
        flex-direction: column;
        
    }

    .container_notice {
        height: 22rem;
        width: 20rem;
        border: 1px solid black;
        border-radius: 0.4rem;
        background-color: rgb(250, 232, 232);
        margin: 0 auto;
        margin-bottom: 1rem;
    }
    .container_image {
        height: 11rem;
        width: 100%;
    }
 
    .container_description {
        height: 11rem;
        width: 100%;
        padding: 0.5rem;
        overflow: hidden;
    }
}