.ContainerBackground {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
  }
  
  .ContainerBackground img {
    transition: 2s;
    filter: brightness(110%);
  }
  .containerData {
    position: absolute;
    width: 1000px;
    z-index: 2;
    bottom: 100px;
    left: 100px;
    color: white;
  }
  
  .title {
    font-weight: bold;
    font-size: 1.75rem;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
    margin-bottom: 0.8rem;
  }
  
  .description {
    font-weight: bold;
    font-size: 0.875rem;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
    margin-bottom: 0.75rem;
  }
  
  @media screen and (max-width: 783px) {
    .containerData {
      width: 400px;
    }
  }
  
  @media screen and (max-width: 490px) {
    .ContainerBackground {
      height: 100vh;
    }
    .containerData {
      width: 440px;
    }
  }
  