.ContainerBackground {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
  }
  
  .ContainerBackground img {
    /* transition: 2s; */
    filter: brightness(110%);
    object-fit: cover;
    object-position: center;
  }
  .containerData {
    position: absolute;
    width: 1000px;
    z-index: 2;
    bottom: 100px;
    left: 100px;
    color: var(--primary-white);
  }
  
  .title, .description {
    font-weight: bold;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);

  }
  .title {
    font-size: 1.75rem;
    margin-bottom: 0.8rem;
  }
  .description {
    font-size: 0.875rem;
    margin-bottom: 0.75rem;
  }
  
  @media screen and (max-width: 783px) {
    .containerData {
      width: 600px;
      bottom: 80px;
      left: 20px;
    }
    .title {
      margin-bottom: 15px;
    }
    .description {
      margin-bottom: 10px;
    }
  }
  
  @media screen and (max-width: 495px) {
    .containerData {
      width: 420px;
      bottom: 80px;
      left: 10px;
    }
  }
  