.containerAll { 
    margin-top: 2.5rem;
    width: 100vw;
    height: 135vh;
    display: flex;
    margin-bottom: 3rem;
}

.containerBraket, .octavosLeft, .cuartosLeft, .semifinalesLeft, .FianalsLeft  { 
    width: 10%;
}

.diome { 
    width: 90%;
    height: 100%; 
    display: flex;
}

.octavosLeft div,.cuartosLeft div, .semifinalesLeft div, .FianalsLeft, .FianalsLeft div, .containerBraket div, .top, .champions, .championsPicture, .box, .izq, .box_top, .box_bot {
    display: flex;
    justify-content: center;
    align-items: center;
}

.octavosLeft div, .cuartosLeft div, .semifinalesLeft div, .FianalsLeft div  { 
    width: 45%;
    height: 47px;
    margin: 0 auto;
    background-color: var(--primary-white);
    border-radius: 3px;
}

.octavosLeft div, .cuartosLeft div, .semifinalesLeft div  {  
    margin-bottom: 45px;

}

.FianalsLeft { 
    height:100%;   
}

.btn { 
    font-size: 25px;
    width: 45%;
    color: var(--primary-white);
    height: 60px;
    font-weight: bold;
    background-color: yellowgreen;
    border-radius:5px ;
    border: 1px solid black;
}
.btn:hover { 
    opacity: 0.5;
    cursor: pointer;

}
.containerBraket div { 
    width: 45%;
    position: relative;
    height: 47px;
    margin: 0 auto;
    margin-bottom: 4px;
    background-color: var(--primary-white);
    border-radius: 3px;
}

.img { 
    width: 43px;
    height: 43px;
    transition: 3s;
}

.arooba { 
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.top {
    width: 100%;

}

.bot {
    width: 100%;
    position: absolute;
    top: 42%;
}

.champions { 
    width: 100%;
    font-size: 25px;
    color: var(--primary-white);
    font-weight: bold;
}

.championsPicture {  
        width: 100%;
        font-size: 18px;
        color: rgb(0, 0, 0);
        font-weight: bold; 
}

.championsProfile { 
    width: 88%;
    height: 4rem;
    display: flex;
    background-color: var(--primary-white);
    border-radius: 11%;
}

.izq { 
    width: 30%;
 
}
.der { 
    width: 70%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

.box {
    width: 100%;
    flex-direction: column;
}

.box_top {
    width: 95%;
    height: 6rem;
    background-color: var(--primary-white);
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.box_top img {
    width: 80%;
    height: 80%;
}

.box_bot {
    width: 95%;
    height: 6rem;
    background-color: var(--primary-white);

}

.box_bot img {
    width: 80%;
    height: 80%;
}

.number_rank {
    font-size: 10px;
    color: black;
    position: absolute;
    font-weight: bold;
    top: 0;
    right: 0;
}
@media screen and (max-width: 480px) {
    .containerAll { 
        width: 100%;
        height: 120vh;
    }
    
    .top {
        flex-direction: column;
    }
    .btn { 
        font-size: 12px;
        width: 60px;
        height: 50px;
    }
    .champions { 
        font-size: 18px;
    }
     .img { 
        width: 15px;
        height: 18px;
        margin: 0 auto;
    }
    .der { 
        display: none;
    }
    .izq { 
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
     .izq img { 
        width: 30px;
        height: 30px;
    }
}    