:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
    --primary-white: #ffffff;
    --background-game: #070a3f;
    --icon-marcos: rgb(255, 33, 33);
    --icon-franco: rgb(39, 186, 255);
    --icon-gaston:rgb(251, 255, 32);
    --font-name: 0.813rem;
    --font-responsive: 0.5rem;
    --font-titles: 22px
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-image: url("/images/background_app.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

}

a {
  color: inherit;
  text-decoration: none;
}

