    .containerGame {
    height: 40px;
    display: flex;
    width: max-content;
    border: 1px solid grey;
    margin-top: 3px;
    background-color:var(--background-game);
    border-radius: 0.5rem;
    padding-left: 0.2rem;
    color: var(--primary-white);
    margin: 0 auto;
    margin-bottom: 14px;
    cursor: pointer;
   }

   .containerEscudo, .raiz, .containerGameName, .containerGameResultWin, .containerFinished, .containerFinished span {
    display: flex;
    justify-content: center;
    align-items: center;
   }

    .containerEscudo {
      width: 50px;
      height: 100%;
 
    }
    .containerEscudo img {
      width: 50px;
      height: 50px;
    }

    .raiz {
      width: 170px;
      font-size: 0.7rem;
    }

    .containerGameName {
      width: 180px;
      height: 100%;
      font-size: 13px;
      font-weight: 500;
    }
    .containerGameResultWin {
      width: 45px;
      height: 100%;
      color: var(--primary-white);
    }
   
    .containerFinished {
      width: 70px;
      height: 100%;
    }
    .containerFinished span {
      border-radius: 0.5rem;
      height: 60%;
      font-size: 12px;
      border: 1px solid black;
      width: 85%;
      color: var(--primary-white);
    }
  
    @media screen and (max-width: 600px) {
        .containerGame {
            width: 100%;
          }
          .containerGameName {
            font-size: 8px;
          }
          .containerFinished span {
            font-size: 8px;
          }
          .raiz {
            font-size: 8px;
          }
          .containerEscudo img {
            width: 40px;
            height: 40px;
          }
      }